@tailwind base;
@tailwind components;
@tailwind utilities;


/* --------- fonts start ---------------- */

@font-face {
    font-family: 'yekan';
    src: url('./../../public/assets/fonts/Yekan.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./../../public/assets/fonts/Poppins-ExtraBold.ttf');
}


/* ----------fonts end ------------------ */

@layer base {
  html {
    @apply font-shabnam ;
  }

  // img:not(div.content img) {
  //   @apply w-full h-full object-cover;
  // }

}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .overlay {
    @apply absolute inset-0 h-full w-full;
  } 

.retro-style{
  box-shadow: 3px 3px black;
      border: 2px solid black;
  }

  .btn {
    @apply bg-primary text-black hover:text-gray-100;
  }
}



/* ----------animations ------------ */
.phone-animation{
  animation: trin 1.5s infinite linear;
}
@keyframes trin {

  from {
      transform:rotate3d(0, 0, 1, 0deg);
  }
  20%, 32%, 44%, 56%, 68% {
      transform: rotate3d(0, 0, 1, 0deg);
  }
  23%, 35%, 47%, 59%, 71% {
      transform: rotate3d(0,0,1,15deg);
  }
  26%, 38%, 50%, 62%, 74% {
      transform: rotate3d(0,0,1,0deg);
  }
  29%, 41%, 53%, 65%, 77% {
      transform: rotate3d(0,0,1,-15deg);
  }
  80% {
      transform:rotate3d(0, 0, 1, 0deg);
  }

}
