@tailwind base;
@tailwind components;
@tailwind utilities;


/* --------- fonts start ---------------- */

@font-face {
    font-family: 'yekan';
    src: url('./../../public/assets/fonts/Yekan.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./../../public/assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: Shabnam;
  src: url('Shabnam.eot');
  src: url('Shabnam.eot?#iefix') format('embedded-opentype'),
  url('Shabnam.woff2') format('woff2'),
  url('Shabnam.woff') format('woff'),
  url('Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Bold.eot');
  src: url('Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
  url('Shabnam-Bold.woff2') format('woff2'),
  url('Shabnam-Bold.woff') format('woff'),
  url('Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Thin.eot');
  src: url('Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
  url('Shabnam-Thin.woff2') format('woff2'),
  url('Shabnam-Thin.woff') format('woff'),
  url('Shabnam-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Light.eot');
  src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'),
  url('Shabnam-Light.woff2') format('woff2'),
  url('Shabnam-Light.woff') format('woff'),
  url('Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Medium.eot');
  src: url('Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
  url('Shabnam-Medium.woff2') format('woff2'),
  url('Shabnam-Medium.woff') format('woff'),
  url('Shabnam-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* ----------fonts end ------------------ */

@layer base {
  html {
    @apply font-shabnam ;
  }

  // img:not(div.content img) {
  //   @apply w-full h-full object-cover;
  // }

}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .overlay {
    @apply absolute inset-0 h-full w-full;
  } 

.retro-style{
  box-shadow: 3px 3px black;
      border: 2px solid black;
  }

  .btn {
    @apply bg-primary text-black hover:text-gray-100;
  }
}



/* ----------animations ------------ */
.phone-animation{
  animation: trin 1.5s infinite linear;
}
@keyframes trin {

  from {
      transform:rotate3d(0, 0, 1, 0deg);
  }
  20%, 32%, 44%, 56%, 68% {
      transform: rotate3d(0, 0, 1, 0deg);
  }
  23%, 35%, 47%, 59%, 71% {
      transform: rotate3d(0,0,1,15deg);
  }
  26%, 38%, 50%, 62%, 74% {
      transform: rotate3d(0,0,1,0deg);
  }
  29%, 41%, 53%, 65%, 77% {
      transform: rotate3d(0,0,1,-15deg);
  }
  80% {
      transform:rotate3d(0, 0, 1, 0deg);
  }

}
